*, *:before, *:after
  box-sizing: border-box

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  vertical-align: baseline
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  text-size-adjust: none
  font-family: roboto, sans-serif

footer, header, nav, section, main
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

input
  -webkit-appearance: none
  border-radius: 0

@mixin parag_scr($pad)
  padding: $pad
  transform: translateX(-20vw)
  color: white
  font-size: 40px
  font-weight: bold

$color_back: #D9D9D9

header
  background: $color_back
  height: 75px

  nav
    display: flex
    width: 80%
    justify-content: space-between
    align-items: center
    margin: 0 auto
    padding-top: 10px

  div
    display: flex


    svg
      width: 50px
      height: 50px

    div
      display: flex
      flex-direction: column
      margin-left: 10px

      h1
        font-size: 31px
        font-weight: 900

  input
    border-radius: 25px
    padding: 5px 10px
    border: none
    background: #A9A7A7
    color: white
    width: 20vw

    &::placeholder
      color: white


.flex
  display: flex
  justify-content: space-between
  width: 70vw
  margin: 0 auto

main
  h1
    margin-top: 50px
    font-weight: bold
    font-size: 40px
    margin-left: 15vw

.first_scr
  background-image: url("../img/Rectangle 3.png")
  background-repeat: no-repeat
  background-position: center center
  background-size: contain
  text-align: center
  width: auto
  margin: 70px auto 0

  p
    @include parag_scr(480px 0 50px 20px)

.second_scr
  background-image: url("../img/Rectangle 5.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  //width: 700px
  //height: 500px
  margin: 70px 0 0 0

  p
    padding: 300px 350px 50px 50px
    color: white
    font-size: 20px
    font-weight: bold

.ther_scr
  background-image: url("../img/Rectangle 7.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  //width: 400px
  //height: 500px
  margin: 70px 0 0 0

  p
    padding: 300px 230px 0 100px
    color: white
    font-size: 20px
    font-weight: bold

.for_scr
  background-image: url("../img/Rectangle 8.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  //width: 700px
  //height: 500px
  margin: 70px 0 0 0

  p
    padding: 300px 350px 50px 50px
    color: white
    font-size: 20px
    font-weight: bold

.five_src
  background-image: url("../img/Rectangle 6.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  //width: 400px
  //height: 500px
  margin: 70px 0 0 0

  p
    padding: 300px 230px 0 100px
    color: white
    font-size: 20px
    font-weight: bold

.option
  width: 70vw
  margin: 100px auto

  article
    display: flex
    justify-content: space-between

    &:not(:first-child)
      padding-top: 100px

    p
      text-align: center
      padding-top: 10px
      font-weight: bold
      font-size: 20px

.feedback_form
  background: #E8AB50
  width: 70vw
  margin: 0 auto 100px
  border-radius: 20px
  box-sizing: border-box
  padding: 100px 20px

  h2
    text-align: center
    font-size: 30px
    font-weight: bold

  div
    margin: 0 auto
    text-align: center
    padding-top: 30px

    input[type="text"]
      border: none
      border-radius: 25px
      padding: 10px 20px
      width: 30vw

    input[type="button"]
      border: none
      border-radius: 25px
      padding: 10px 20px
      width: 5vw
      background: #7A9E2C
      color: white
      margin-left: 10px

footer
  background: #D9D9D9
  box-sizing: border-box
  padding: 30px 0

  section
    display: flex
    justify-content: space-between
    width: 70vw
    margin: 0 auto

    h2
      padding: 20px 0
      font-weight: bold
      font-size: 30px